.body{
  margin: auto;
}

.head-text{
  text-align: center;
}

.field-container{
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  background-color: #fff;
  height: 2%;
  padding: 20px 40px;
  border-radius: 4px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0,0.4);
}

.field-label{
  font-size: 22px;
}

.input-field{
  padding: 4px 8px;
  
}

.contacts-container{
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 26px;
}

ul{
  
}